@charset "UTF-8";


footer img
{
    position: absolute;
    margin-right: 0;
    margin-left: 0;
}

.smokeSlowly
{
    animation: 35s linear 0s normal none infinite running animate;
    opacity: 0.5;
}

.reSmokeSlowly
{
    animation: 35s linear 0s normal none infinite running animateReverse;
    opacity: 0.5;
}

.smoke
{
    animation: 30s linear 0s normal none infinite running animate;
    opacity: 0.5;
}

.reSmoke
{
    animation: 30s linear 0s normal none infinite running animateReverse;
    opacity: 0.5;
}

.smokeFast
{
    animation: 25s linear 0s normal none infinite running animate;
    opacity: 0.5;
}

.reSmokeFast
{
    animation: 25s linear 0s normal none infinite running animateReverse;
    opacity: 0.5;
}

footer
{
    background-color: black;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animateReverse {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}