@charset "UTF-8";

/******* TAG *******/
p{
    font-weight: bold;
    margin: auto 8px;
}

label
{
    margin-bottom: 20px;
}

/******** ID *******/
#authorization button:first-of-type
{
    color: white;
    margin-left: 8px;
    background: linear-gradient(#79b7f3, #2b91fa);
    border: 1px solid #3e5dff;
}
#authorization button:last-of-type
{
    margin-right: 8px;
    background: linear-gradient(#f6dca4, #ffb347);
    border: 1px solid #f4ab4c;
}
#authorization button:first-of-type:hover
{
    background: linear-gradient(#2b91fa, #79b7f3);
}

#authorization button:last-of-type:hover
{
    background: linear-gradient(#ffb347, #f6dca4);
}

#authorization
{
    /* Size and position */
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 200px;
    padding: 15px;
    width: 360px;


    /* Styles */
    background: #fffaf6;
    border-radius: 4px;
    box-shadow:
            0 2px 2px rgba(0,0,0,0.2),
            0 1px 5px rgba(0,0,0,0.2),
            0 0 0 12px rgba(255,255,255,0.4);
}

#authorization input[type=text],
#authorization input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}
#authorization input[type=text]:hover,
#authorization input[type=password]:hover {
    border-color: #CCC;
}

#authorization label:hover ~ input {
    border-color: #CCC;
}

#authorization input[type=text]:focus,
#authorization input[type=password]:focus {
    border-color: #BBB;
    outline: none; /* Remove Chrome's outline */
}

/******** CLASSES *******/
.yellow
{
    color: darkorange;
}

.gray
{
    color: gray;
}

.black
{
    color: black;
}

.forms
{
    margin-top: 15px;
    display: inline-block;
}

.button
{
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 169px;
    height: 40px;
    border-radius: 5px;
    text-shadow: 0 1px rgba(255,255,255,0.3);
}

.buttons
{
    position: absolute;
    bottom: 16px;
}
#serving p{
    display: inline-flex;
    width: 152px;

}
.checkBox
{
    font-weight: normal;
    font-size: 12px;
}

#errorInput
{
    font-weight: normal;
    font-size: 12px;
    color: red;
}
